body {
    background: lightgray;
    margin: auto;
}

.box1 {
    width: 850px;
    height: 400px;
    background-color: #3b5998;
    margin-left: 25%;
    position: relative;
}

.box2 {
    width: 850px;
    height: 40px;
    background-color: aliceblue;
    margin-left: 25%;
    position: relative;
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: #3b5998;
    border: 1px solid black;
    left: 26%;
    top: 23%;
    position: absolute;
}

.box4 {
    left: 40%;
    top: 42.5%;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-bottom: 0.5%;
    
    border-bottom: 1px solid #3b5998;
    font-weight: bold;
    
}

.box5 {
    left: 47%;
    top: 42.5%;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid lightgrey;
    padding-right: 1%;
    
}

.box6 {
    left: 52%;
    top: 42.5%;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid lightgrey;
    padding-right: 1%;
}

.box7 {
    left: 59%;
    top: 42.5%;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid lightgrey;
    padding-right: 1%;
}

.dropdown {
    background-color: aliceblue;
    border: none;
    position: absolute;
    font: inherit;
    left: 64%;
    top: 42.5%;
    
}

.box8 {
    left: 57%;
    top: 37.5%;
    position: absolute;
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 20px;
    font-size: 14px;
    
}

.box9 {
    left: 61%;
    top: 37.5%;
    position: absolute;
    background-color: aliceblue;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 23px;
    padding-right: 10px;
    border-right: 2px solid lightgray;
    font-size: 14px;
}

.box10 {
    left: 64.5%;
    top: 37.5%;
    position: absolute;
    background-color: aliceblue;
    
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 23px;
    padding-right: 10px;
    border-right: 1px solid lightgray;
    font-size: 14px;
}

div.image1 {
 
    width:28px; /*width of your image*/
   height:28px; /*height of your image*/
   content:url('file:///Users/darlyzabeth/Google%20Drive/Sed-05-512.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
   left: 0px;
   top: -5px;
   
   position: absolute;
   
}

div.image2 {
    width:15px; /*width of your image*/
    height:15px; /*height of your image*/
    content:url('file:///Users/darlyzabeth/Google%20Drive/plus-icon-transparent-5.jpg');
    
    left: 2px;
    top: 3px;
    position: absolute; 
}

div.image3 {
 
    width:28px; /*width of your image*/
   height:28px; /*height of your image*/
   content:url('file:///Users/darlyzabeth/Google%20Drive/iconfinder_Sed-39_2231978.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
   left: 1px;
   top: -5px;
   
   position: absolute;
   
}

.leftC1 {
    width: 326px;
    height: 20px;
    background-color: aliceblue;
    border: 1px solid lightgray;
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 25px;
}

.leftC2 {
    width: 324px;
    height: 90px;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    top: 52%;
    left: 25%;
    padding-left: 2px;
    font-size: 13px;
}

.leftC3 {
    width: 322px;
    height: 20px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    position: absolute;
    left: 25%;
    top: 63%;
    font-size: 13px;
    padding: 2px;
}

.leftC4 {
    width: 326px;
    height: 90px;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    left: 25%;
    top: 65%;
    font-size: 13px;
    text-align: center;
    
}

.box12 {
    width: 80px;
    height: 50px;
    background-color: #3b5998;
    border: 1px solid black;
    position: absolute;
    left: 26%;
    top: 66%;
    
}

.leftC5 {
    width: 322px;
    height: 90px;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    left: 25%;
    top: 73%;
    font-size: 13px;
    padding: 2px;
    text-align: center;
}

.box13 {
    width: 80px;
    height: 50px;
    background-color: #3b5998;
    border: 1px solid black;
    position: absolute;
    left: 26%;
    top: 74%;
}

.leftC6 {
    width: 322px;
    height: 75px;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    left: 25%;
    top: 81%;
    font-size: 13px;
    padding: 2px;
    text-align: center;
}

.box14 {
    width: 80px;
    height: 50px;
    background-color: #3b5998;
    border: 1px solid black;
    position: absolute;
    left: 26%;
    top: 82%;
}
.box15 {
    width: 512px;
    height: 27px;
    background-color: aliceblue;
    border: 1px solid lightgray;
    position: absolute;
    top: 86%;
    right: 30.5%;
    text-align: left;
    padding-left: 3px;
    padding-bottom: 2px;
    margin: 0px;
    font-size: 13px;

}
.box16 {
    width: 475px;
    height: 325px;
    background-color: #3b5998;
    border: 1px solid black;
    position: absolute;
    top: 51%;
    right: 31.5%;
}

.rightC1 {
    width: 512px;
    height: 375px;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    top: 50%;
    right: 30.5%;
    padding: 2px;
    font-size: 13px;

}



